.terraform/

terraform.tfstate
terraform.tfstate.*
*.tfvars
*.tfvars.json

crash.log
crash.*.log

override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.tfplan
plan.out
tfplan

.terraformrc
terraform.rc

.terraform/
**/.terraform/

*.tfstate
*.tfstate.*

*.tfvars
*.tfvars.json

crash.log
crash.*.log

*.tfplan
plan.out
tfplan